.game-card {
    width: var(--game-spine-width);
    height: var(--game-spine-height);

    margin: .3px .5px;

    cursor: pointer;

    transition:
        transform var(--transition-fast);
    
    display: flex;

}

.game-card:hover {
    transform: translateY(5px);
}

.game-spine,
.game-cover {
    height: 100%;

    object-fit: cover;

    transition:
        opacity var(--transition-medium);

}

.game-cover {

    width: var(--game-cover-width);

    pointer-events: none;
    
    opacity: 0;

    box-shadow:
        0 10px 25px var(--color-card-shadow);

}

.game-card:hover .game-cover {
    opacity: 1;
}