:root {

    /* Cores */
    --color-background: #1a1a1a;

    --color-shelf: #2b1d14;
    --color-shelf-shadow: rgba(0, 0, 0, 0.3);

    --color-text-primary: #ffffff;
    --color-text-secondary: #b8b8b8;

    --color-card-shadow: rgba(0, 0, 0, 0.4);

    /* Espaçamento */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 40px;

    /* Bordas */
    --border-radius-sm: 4px;
    --border-radius-md: 10px;

    /* Transições */
    --transition-fast: 0.2s ease;
    --transition-medium: 0.3s ease;

    /* Capas de jogo */
    --game-spine-width: .9em;
    --game-spine-height: 14em;

    --game-cover-width: auto;

}